.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  @mixin desktop {
    flex-direction: row;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--basalt-sizing-16) var(--basalt-sizing-6);

  @mixin desktop {
    flex: 0 0 60%;
    padding: var(--basalt-sizing-20) var(--basalt-sizing-10) var(--basalt-sizing-20)
      var(--basalt-sizing-16);
  }
}

.image {
  display: none;

  @mixin desktop {
    display: block;
    flex: 0 0 40%;
    position: relative;
    overflow: hidden;
  }

  & picture {
    position: absolute;
    inset: 0;
  }

  & img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.wordmark {
  font-size: var(--font-size-wordmark);
  font-style: italic;
  max-width: var(--basalt-sizing-168);
  margin-bottom: var(--basalt-sizing-12);

  @mixin desktop {
    margin-bottom: var(--basalt-sizing-16);
  }
}

.blurb {
  display: flex;
  flex-direction: column;
  max-width: var(--basalt-sizing-168);
  gap: var(--basalt-sizing-6);
  margin-bottom: var(--basalt-sizing-16);

  @mixin desktop {
    gap: var(--basalt-sizing-8);
    margin-bottom: var(--basalt-sizing-24);
  }
}

.contact {
  display: flex;
  max-width: var(--basalt-sizing-168);
  gap: var(--basalt-sizing-4);
}
